.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 240px;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}

.form-url {
  padding: 25px;
}

.form-url button {
  border: none;
  background: sea-green;
  padding: 7px;
}

.form-url input {
  padding: 5px;
  width: 250px;
}

.App-intro {
  font-size: large;
}
